{% extends 'main/layout.html' %}

{% block body %}

    <div id="app"></div>

    {{ data|json_script:"data" }}
    {{ message|json_script:"message" }}
    <script type="text/babel">
        function App() {
            const {useState, useEffect} = React;

            const data = JSON.parse(document.getElementById('data').textContent);
            console.log('data', data);
            return (
                <div>
                    { data.length < 1 ? <h1>No History</h1> : null}
                    { Array.isArray(data) && data.map(d => (
                        <a href={`/details/${d.id}`}>
                            <button>
                                <div>
                                    <h3>{d.title}</h3>   
                                    <p>{d.description}</p>
                                    <h5>{d.date}</h5>
                                </div>
                            </button>
                        </a>
                    ))}
                </div>
            )
        }

        ReactDOM.render(<App />, document.querySelector("#app"));
    </script>

{% endblock %}