{% extends 'main/layout.html' %}

{% block body %}

    <div id="app"></div>
   
    <script type="text/babel">
    
        function App() {
            const {useState, useEffect} = React;
            
            const [contextData, setContextData] = useState({});
            const [mealData, setMealData] = useState({});
            const [loading, setLoading] = useState(true);


            const fetchMealData = async () => {
                console.log("Fetching data...");
                setLoading(true);   
                try {
                        const response = await fetch('http://127.0.0.1:8000/meal-api/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(contextData),
                        });
                        const jsonResponse = await response.json();
                        console.log('API response:', jsonResponse);
                        setMealData({
                            ...mealData,
                            title:  jsonResponse.title,
                            calories: jsonResponse.calories,
                            description: jsonResponse.description,
                            recipes: jsonResponse.ingredients,
                            steps: jsonResponse.steps,
                            duration: jsonResponse.duration,
                            budget: jsonResponse.budget,
                        });
                        setLoading(false);
                    } catch (error) {
                        console.error('Error sending data:', error);
                    }
            };


            React.useEffect(() => {
                console.clear();
                try { 
                    setContextData({
                        ...contextData,
                        dietary: '{{ dietary }}',
                        cuisine: '{{ cuisine }}',
                        meal_type: '{{ meal_type }}',
                        calories: '{{ calories }}',
                        restriction: '{{ restriction }}',
                        protein_source: '{{ protein_source }}',
                        cooking_time: '{{ cooking_time }}',
                        budget: '{{ budget }}'
                    });
                } catch(error) {
                    console.error('Error: ', error);
                }
                
            }, []);

            React.useEffect(() => {
                fetchMealData();
             }, [])

            console.log('meal-data:', mealData);


            const cookHTML = () => {
                console.log('meal-datastringify', mealData)
                const data = JSON.stringify(mealData);
                localStorage.setItem('meal-data', data);
                window.location.href = " http://127.0.0.1:8000/cook"
            }

            console.log('loading', loading);

            return (
                loading ? <h1>Loading...</h1> :
                    <div>
                        <h1>{ mealData.title }</h1>
                        <h3>{ mealData.calories } kcal</h3>
                        <p>{ mealData.description }</p>
                        <h2>Ingredients</h2>
                        <ul>
                            { Array.isArray(mealData.recipes) && mealData.recipes.map(r => (
                                <li>{r}</li>
                            ))}
                        </ul>
                        <h2>Steps</h2>
                        <ol>
                            { Array.isArray(mealData.steps) && mealData.steps.map(s => (
                                <li>{s}</li>
                            ))}
                        </ol>
                        <h3>{ mealData.duration }</h3>
                        <h3>{ mealData.budget }</h3>
                        <button onClick={fetchMealData}>Generate Again</button>
                        <button onClick={cookHTML}>Cook</button>     
                    </div>  
            );
        };
        
        ReactDOM.render(<App />, document.querySelector("#app"));
    </script>

{% endblock %}