{% extends 'main/layout.html' %}

{% block body %}


    {{ data|json_script:"meal-data" }}
    <div id="app"></div>
   
    <script type="text/babel">
        
        function App() {
            const {useState, useEffect} = React;
            
            const [title, setTitle] = useState("");
            const [calories, setCalories] = useState();
            const [description, setDescription] = ("");
            const [recipes, setRecipes] = useState([]);
            const [steps, setSteps] = useState([]);
            const [duration, setDuration] = useState("");
            const [budget, setBudget] = useState("");
  
            const data = document.getElementById("meal-data");
            const mealData = JSON.parse(data.textContent);
        
            React.useEffect(() => {
                try {
                    setRecipes(mealData.ingredients);
                } catch (error) {
                    console.error("Error parsing JSON string:", error);
                }
            }, []); 
           
            return (
                <div>
                    <h1>Ingredients</h1>
                    <ul>
                        { recipes.map(i => (
                            <li>{i}</li>
                        ))}
                    </ul>
                </div>            
            );
        }


        ReactDOM.render(<App />, document.querySelector("#app"));
    </script>

{% endblock %}